@media screen and (max-width: 600px) { .sidebar_menu {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

@media screen and (min-width: 320px) {.sidebar__lists li::marker {
    display:none;
    /*content: "";*/
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    color: #fff;
}}

@media screen and (min-width: 320px) {.col-xs-12.cname{
    
    margin-bottom: -3px;
}}

.row > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.row > [class*='col-'] > div {
    flex: 1;
}


ul {
    padding: 0;
}

.equal {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
}

@media (min-width: 768px) {
    .row.equal {
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 768px) {
    .row > [class*='col-'] > div {
        margin: 10px;
    }
}

.equal > div {
    margin-bottom: 10px;
}

.card {
    background-color: #FFF;
    /*max-width: 400px;*/
    border: 1px solid transparent;
    padding: 15px 0;
    margin-bottom: 10px;
    display: grid;
    grid-template-areas: 'icon container container container container container container container container selector'
}

.card-selected {
    border: 1px solid orange;
}
@media (min-width: 768px)
{.col-sm-6 {
    width: auto;
}}
.card-section-icon {
    grid-area: icon;
    display: flex;
    align-items: center;
    width: 60px;
}

.card-section-icon img {
    max-width: 50px;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

.card-section-container {
    grid-area: container;
    border-left: 1px solid #EEE;
    padding: 0 10px;
    line-height: 1em;
    flex: 1;
}

.card-section-container > p {
    font-size: 0.8em;
    line-height: 1em;
    flex-grow: 1;
}


.card-section-container > ul {
    list-style: disc;
    padding-left: 20px;
    flex-grow: 1;
}

.card-section-container > ul > li {
    color: #8B8B8B;
    font-size: 0.8em;
    line-height: 1em;
}

.card-section-selector {
    grid-area: selector;
    display: flex;
    align-items: center;
    width: 55px;
    flex-grow: 1;
}


/* The container */
.card-section-selector > .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 0 12.5px 12px 12.5px;
    cursor: pointer;
    user-select: none;
}

/* Hide the browser's default checkbox */
label.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 12.5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: orange;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.card-container {
    /*background: white;*/
    padding: 0 10px;
}

@media (max-width: 768px) {

    .card-price {
        float: left;
    }

    .card-container {
        padding: 0;
    }
}

@media (max-width: 968px) {
    .hide-phone {
        display: none !important;
    }
}

.card-section-footer {
    margin-top: 1em;
}

.card-section-footer p {
    font-size: 0.8em
}


.card-price {
    color: orange;
    font-size: 1.2em;
    float: right
}

/*Configurator small*/
.configurator-homepage {
    width: 100%;
    border-radius: 5px;
}

.configurator-homepage form {
    width: 100%;
}

.configurator-small {
    padding: 10px;
    box-shadow: 0 5px 20px -10px rgba(0, 0, 0, .35);
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    margin: 0 auto;
    z-index: 50;
}

.configurator-small > div {
    margin: 0 auto;
    box-shadow: 0 5px 20px -10px rgba(0, 0, 0, .35);
    display: block;
    background: #FFF;
    padding: 10px;
}

.configurator-small .custom-select {
    margin: 0;
}

/* Progress bar */
.progressbar-container {
    margin: 50px 0;
}

.progressbar li {
    list-style-type: none;
    width: 33%;
    float: left;
    font-size: 1em;
    position: relative;
    text-align: center;
    color: #7d7d7d;
    line-height: 1em;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: "";
    line-height: 30px;
    border: 2px solid #7d7d7d;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    background-color: white;
}

.card-section ul::before {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

@media (min-width: 768px)
{.col-sm-6 {
    width: 50%!important;
}}
.card-section-container .card-section ul {
    color: #8B8B8B;
    font-size: 0.8em;
    line-height: 1em;
    padding-left: 20px;
}

.card-section-container .card-section ul li {
    list-style: disc;
    padding-left: 0px;
    flex-grow: 1;
}
.progressbar li:after {
    width: 100%;
    height: 2px;
    content: '';
    position: absolute;
    background-color: #7d7d7d;
    top: 15px;
    left: -50%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}
@media (min-width: 992px)
{.col-md-7 {
    float: left!important;
}}
.progressbar li.active {
    color: darkorange;
}

.progressbar li.active:before {
    border-color: orange;
    background-color: orange;
}

.progressbar li.active + li:after {
    background-color: orange;
}

.progressbar li.done:before {
    border-color: orange;
    background-color: orange;
}

.progressbar li.done + li:after {
    background-color: orange;
}

.progressbar li.inactive:before {
    border-color: #7d7d7d;
    background-color: #7d7d7d;
}

.progressbar li.inactive + li:after {
    background-color: #7d7d7d;
}
@media screen and (max-width: 780px) {.subtotal {
    background: #2795c7!important;
    margin-bottom: 10px;
}}
@media screen and (max-width: 780px) {p.p-td {
        text-align: left;
    padding-right: 10px;
    padding-top: 0px;
    margin-top: 10px;
    font-size: 20px;
    padding-left: 0px;
    color: white;
}}
@media screen and (min-width: 320px) {.sidebar__lists li::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    left: 0px;
    color: #249b57;
}}
@media (min-width: 1200px)
{.col-md-7.text-justify {
    float: left;
    width: 1350px;
}}

@media (max-width: 780px)
{input#datt.form-control.type2 {
    width: 76%!important;
}}

@media (min-width: 1200px)
{.col-md-3.text-center {
    width: 55%!important;
}}

@media screen and (min-width: 320px) {.text-block-padding li::marker {
    font-weight: 600;
    content: "\f058";
    color: #6ab861;
    margin-left: -30px;
    margin-right: 15px;
    font-family: "fontawesome";
}}
@media (min-width: 1200px)
{.col-md-7 {
    width: 50%;
}}
@media (min-width: 992px)
{.col-md-7 {
    float: right;
}}
@media (max-height: 600px)
{.col-md-7.text-justify {
    float: left;
    width: 1020px!important;
}}
@media (max-height: 600px)
{.col-md-7.text-justify {
    float: left;
    width: 1280px;
}}
 @media screen and (min-width: 1200px) {.col-md-3.text-center {
    background: #F6F6F6;
    padding-top: 10px;
    padding-bottom: 8px;
    border: 8px solid #ccc;
    margin-top: -7px!important;
    padding-left: 12px;
    position: absolute;
    margin-left: 750px!important;
}}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

 @media screen and (min-width: 992px) {.row.equal {width: 115%;
}}
@media screen and (max-width: 780px){.tpl-steps li::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
    color:#f3f3f3!important;
}}
      

 .tcol12{border: 1px solid #9e9e9e;padding: initial;margin-bottom: 26px;}#myModal{}.modal{display: none;position: fixed;z-index: 1;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}.modal-content {background-color: #008fff;margin: auto;float: none;padding: 15px;color: #fff;}@media screen and (max-width: 768px) {.modal-content {background-color: #008fff !important;margin: auto !important;float: none !important;padding: 15px !important;width: 100% !important;color: #fff !important;}}.type2{width:100% !important;}.close:hover, .close:focus {color: #000;text-decoration: none;cursor: pointer;}.close {color: #aaaaaa;float: right;font-size: 28px;font-weight: bold;text-shadow: 0 1px 0 #fff;}.tbackground {background: #F6F6F6;color: #000;border: 2px solid #005799;margin-bottom: 15px;padding-top: 10px;}.tcol {text-align: center;border: 1px solid #9e9e9e;padding-top: 10px;background: #ddd;color:#000;}.tcol52 {text-align: center;margin-bottom: 20px;}.tb {color: #000;margin: -7px 0 -9px !important;}.subtotal {background: #ddd;}.calculation{font-size: 15px;color:#174C68;text-transform: uppercase;}.p-td {text-align: right;padding-right: 10px;padding-top: 5px;}.td1{font-size: 13px;color: green;text-transform: uppercase;}.form-group {margin-bottom: 15px;}.input-group {position: relative;display: table;border-collapse: separate;}.btn1 {background: #005799;border: 2px solid #005799;padding: 5px;font-size: 20px;padding-left: 10px;padding-right: 10px;margin-top: -20px;}
 
.modal,.sidebar__list li::before{display:none}.modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0;overflow-y: auto;padding-top:5px!important}.tpl-steps li::marker{unicode-bidi:isolate;font-variant-numeric:tabular-nums;text-transform:none;text-indent:0!important;text-align:start!important;text-align-last:start!important;color:#f3f3f3}.text-block-padding{margin-top:45px;padding-left:0}.text-block-padding li::marker{font-weight:600;content:"\f058";color:#6ab861;margin-left:-30px;margin-right:15px;font-family:fontawesome}.sidebar__list li::before,.sidebar__lists li::before{content:"";font-family:FontAwesome;position:absolute;left:0;color:#249b57}l{font-style:normal;color:#fefefe;background:#2ea846;border-radius:3px;padding:3px 7px;display:inline-block;position:absolute;left:0;top:5px;width:30px;text-align:center;font-weight:700}.tpl-steps{margin:0 0 30px;background:#f3f3f3;padding:20px}.tpl-steps__title{margin:0 0 20px}.tpl-steps li{position:relative;padding:10px 0 10px 45px;letter-spacing:.5px}.tpl-steps ul{margin-bottom:0;margin-left:0;padding-left:0;list-style:none}.sidebar__list,.sidebar__lists{list-style:none;padding:20px 0;margin:0 0 0 60px}ul{display:block;list-style-type:disc;margin-block-start:1em;margin-block-end:1em;margin-inline-start:0;margin-inline-end:0;padding-inline-start:40px}a:focus,a:hover{#E47741!important;text-decoration:underline}
